html,
body,
#root {
  height: 100%;
  margin: 0px;
  font-family: 'Maven Pro', sans-serif;
  color: rgb(255, 255, 255);
  background-image: url('../assets/background.jpg');
  background-repeat: round;
  @media (max-width: 900px) {
    background-repeat: no-repeat;
  }
}

.container {
  width: 100%;
  height: 100%;
  text-align: center;
}

label {
  position: relative;
}

label:before {
  content: "";
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("../assets/icons/buscar.svg") center / contain no-repeat;

  svg {
    fill: #ffffff;
  }
}
input {
  padding: 10px 30px;
}
input {
  width: 33rem;
  padding: 1rem 1.5rem 1rem 40px;
  font-size: 1.5rem;
  border-radius: 2rem;
  border: none;
  margin-top: 25rem;
  outline: none;
  background-color: #4b7f73b3;
  color: #ffffff;
  &.search {
    margin-top: 8rem;
  }
  @media (max-width: 900px) {
    width: 80%;
    text-align: center;
  }
}
input::placeholder {
  color: #ffffff;
}

#result {
  padding: 0 3rem 0 3rem;
  width: 90%;
  margin: 0 auto;
  .weather {
    width: 100%;
  }
  .inlineFlex {
    display: inline-flex;
    width: 100%;
  }

  @media (max-width: 900px) {
    max-width: 100%;
    padding: 0 1rem 0 1rem;
    .inlineFlex {
      display: block;
    }
  }

  .temperature {
    flex-basis: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 20px;

    @media (max-width: 900px) {
      padding-right: 0px;
    }
    h4 {
      display: block;
      font-size: 90px;
      font-weight: 400;
      color: rgb(255, 255, 255);
      text-align: left;
      @media (max-width: 900px) {
        text-align: center;
      }
    }

    div {
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      font-size: 120px;
      color: rgb(255, 255, 255);
      @media (max-width: 900px) {
        justify-content: flex-end;
      }
    }
  }

  .details {
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
    background-color: #4b7f73b3;
    align-self: flex-start;
    padding-bottom: 3rem;
    border-radius: 10px;

    div {
      flex-basis: calc(33.3333%);
      h4 {
        display: block;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        @media (max-width: 900px) {
          font-size: 20px;
        }
      }
      span {
        display: block;
        font-size: 20px;
        text-align: center;
        @media (max-width: 900px) {
          font-size: 15px;
        }
      }
    }
  }

  .forecast {
    position: relative;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 20px;
    padding-bottom: 20px;
    
    span {
      font-size: 20px;
      &.bold {
        font-weight: bold;
        font-size: 25px;
      }
    }
    .forecastDiv {
      background-color: #4b7f73b3;
      border-radius: 10px;
      padding: 15px;
      margin-right: 1rem;
      min-width: 6rem;
    }
  }

  .headBoard {
    flex-basis: 100%;
    h2 {
      color: rgb(255, 255, 255);
      display: block;
      font-weight: 600;
      font-size: 43px;
      text-align: left;
    }

    h4 {
      color: rgb(255, 255, 255);
      display: block;
      font-weight: 400;
      font-size: 23px;
      text-align: left;
    }
  }

  .icon {
    width: 10rem;
  }

  .smallIcon {
    width: 50px;
    height: 50px;
  }
}
